# Environment
venv/
env/
.venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Data
# Ignore raw data files to avoid committing large catalogs or light curves
data/*
!data/README.md
!data/.gitkeep

# Results
# Ignore generated outputs, but keep the folder structure
results/figures/*
!results/figures/.gitkeep

results/tables/*
!results/tables/.gitkeep
